form {
  background-color: rgb(255, 224, 183);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 20%;
  border: 2px solid rgb(0, 0, 0);
}

nav .logo {
  margin-top: 10px;
  margin-left: 10px;
  width: 17%;
}

.btn {
  padding: 10px;
  background-color: rgb(253, 212, 158);
  margin: 5px;
  width: 20%;
}

nav {
  background-color: rgb(255, 235, 209);
}

.buttons {
  width: 70%;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 235, 209);
  align-items: start;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  align-self: start;
  margin: 5px;
  border: 2px solid rgb(0, 0, 0);
  align-self: stretch;
  font-size: 14px;
}

h2 {
  text-align: center;
  font-size: 22px;
}

@media (max-width: 838px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
footer {
  background-color: rgb(255, 235, 209);
}

ul {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
}

.withimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

img {
  align-self: start;
  margin: 5px;
}

aside {
  margin: 5px;
  padding-left: 10px;
  min-width: 450px;
}

form {
  padding: 10px;
  margin-left: 100px;
}
form input {
  width: 200px;
  margin-bottom: 10px;
}
form .btn {
  width: 100px;
}

@media (max-width: 838px) {
  form {
    margin-left: 0px;
    width: 450px;
  }
}