$size_of_img: 20%;
$size_of_logo:17%;
$size_of_button: 20%;
$size_of_buttons: 70%;
$margin: 5px;
$padding: 10px;
$color_background:rgb(253, 212, 158);
$center: center;
$begin: start;
$zero: 0px;
$back: rgb(255, 235, 209);
$border: 2px solid rgb(0, 0, 0);
$stretch: stretch;
$for_aside:450px;
%color{ 
    background-color:rgb(255, 224, 183);
}
$button: 100px;
$size_of_h2: 22px;