.grid{
    display:grid;
    grid-template-columns: repeat(5, 170px);
    grid-template-rows: repeat(4, 170px);
    grid-template-areas:
    "A B C D E"
    "F G H I I"
    "K K L I I"
    "K K M N O";
    gap: 5px;
    margin-left: 300px;
}
div:not(div[class="grid"]){
    border: 2px solid sienna;
}
.img1{
    grid-area: A;
}
.img2{
    grid-area: B;
}
.img3{
    grid-area: C;
}
.img4{
    grid-area: D;
}
.img5{
    grid-area: E;
}
.img6{
    grid-area: F;
}
.img7{
    grid-area: G;
}
.img8{
    grid-area: H;
}
.img9{
    grid-area: I;
}
.img10{
    grid-area: K;
}
.img11{
    grid-area: L;
}
.img12{
    grid-area: M;
}
.img13{
    grid-area: N;
}
.img14{
    grid-area: O;
}
figcaption{
    text-align: center;
}
.imgg9, .imgg10{
    width: 95%;
}
img{
    width: 130px;
}
figure{
    margin:15px;
}
