img{
    height: 250px;
    width: 250px;
}
div{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
figure{
    padding: 0;
    border: 20px ridge rgb(5, 117, 140);
    box-shadow: 6px 10px rgb(2, 76, 91, 50%);
}
body{
    background-color: rgb(24, 157, 183);
}
figcaption{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}